@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.title {
  text-align: center;
  margin-top: 2rem;
  font-size: 3em;
}

.container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: fit-content;

}

.config {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
  font-size: 1.3em;
}

.config label {
  display: flex;
  justify-content: space-between;
}

.generate-btn {
  margin-top: 0.8rem;
  margin-inline: auto;
  width: fit-content;
  padding: 0.3rem 0.8rem;
}

#canvas {
  width: fit-content;
}